Repository mindspore-lab/mindyolo, pull requests merged in 2023-04, with the labels that each got.

#54 fix deploy bug
  deploy/infer.py
  deploy/infer_engine/lite.py
  deploy/infer_engine/mindx.py
Labels: bug, inside-test

#59 Add Multi-Stage data augmentation and fix test bug
  MODEL_ZOO.md
  configs/yolov3/README.md
  configs/yolov5/yolov5x.yaml
  configs/yolov8/hyp.scratch.nano.yaml
  configs/yolov8/yolov8n.yaml
  infer.py
  mindyolo/data/dataset.py
  mindyolo/models/__init__.py
  mindyolo/models/heads/__init__.py
  mindyolo/models/heads/yolov8_head.py
  mindyolo/models/layers/__init__.py
  mindyolo/models/layers/common.py
  mindyolo/models/losses/__init__.py
  mindyolo/models/losses/iou_loss.py
  mindyolo/models/losses/yolov8_loss.py
  mindyolo/models/model_factory.py
  mindyolo/models/yolov8.py
  mindyolo/utils/checkpoint_manager.py
  mindyolo/utils/trainer_factory.py
  test.py
  train.py
Labels: bug, inside-test, rfc

#63 add deploy infer and readme
  deploy/GETTING_STARTED.md
  deploy/README.md
  deploy/export.py
  deploy/infer_engine/lite.py
  deploy/infer_engine/mindx.py
  deploy/infer_engine/model_base.py
  deploy/predict.py
  deploy/reqirements.txt
  deploy/test.py
  mindyolo/models/heads/yolov3_head.py
  mindyolo/models/heads/yolov5_head.py
  mindyolo/models/heads/yolov7_head.py
Labels: bug, inside-test, rfc

#73 Add yolov5x weight
  MODEL_ZOO.md
  configs/yolov5/README.md
Labels: documentation, inside-test, rfc
